* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  background-color: #f4f1de;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #e9edc9;
}

.main-heading {
  cursor: pointer;
  margin: 1rem;
  transition: color 0.3s ease-in-out;
  font-size: 3rem;
  width: fit-content;
  color: #000;
}

.main-heading:hover {
  color: #283618;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

input {
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  margin: 1rem 2rem;
  min-width: 30vw;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  font-size: 1.5rem;
}

.info-messages {
  height: 3rem;
}

.main-image-container {
  position: relative;
  width: 60vw;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.main-image {
  display: block;
  border-radius: 5px;
  width: 100%;
}

.main-image-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -52%);
  width: 56%;
  mix-blend-mode: normal;
}

ul {
  color: #fefae0;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

img {
  border-radius: 5px;
}

.movies-list {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding-bottom: 3rem;
}

.movies-list > * {
  min-width: 0px;
}

.movies-list-item-container {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100%;
  background-color: #283618;
  transition: background-color 0.5s ease-in-out;
}

.movies-list-item-container:hover {
  background-color: #606c38;
}

.movies-list-item-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movies-list-item-image-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.movies-list-item-image {
  width: 100%;
  margin-top: 1rem;
}

p {
  font-size: 1.5rem;
  margin: 1rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}

.movie-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.movie-info-container {
  display: flex;
  gap: 2rem;
}

.movie-info p {
  font-size: 1rem;
  margin: 0;
}

.movie-plot {
  text-align: center;
  font-size: 1.25rem;
}

.movie-image {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .movies-list {
    margin: 0 1rem;
  }

  .movie-plot {
    margin: 1rem 1.5rem;
  }

  .movie-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
  }

  .movie-info {
    margin: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .movies-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 0 3rem;
  }
  .movie-plot {
    margin: 1rem 3rem;
  }
  .movie-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 4rem;
  }
  .movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .movies-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin: 0 3rem;
  }

  .movie-plot {
    margin: 1rem 6rem;
  }

  .movie-info-container {
    margin: 3rem 8rem;
  }
}

@media screen and (min-width: 1500px) {
  .movies-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin: 0 3rem;
  }

  .movie-plot {
    margin: 1rem 8rem;
  }

  .movie-info-container {
    margin: 3rem 10rem;
  }
}
